
body {
  background-color: white;
}

/*header*/
.btn-primary {
  background-color: rgb(207, 232, 156);
  width:120px;
  border: 1px rgb(118,35,47);
  background-color:rgb(118,35,47); 
}

.logo {
   width: 150px;
  }

  .logo-figure {
    display: flex;
    align-items: center;
  }
  
  .logo-caption {
    margin-left: 10px;
  }

  /*main*/

  .separator {   
    height: 140px;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

.spacer {
  width: 30%;
}


/*variety*/

.img-thumbnail{
  height: 300px;
  width: 300px;
  margin: 30px;
}

/*buttons*/

#contact-icons {
  position: absolute;
  bottom: 170px;
  right: 100px;
  
  
}

#contact-icons a {
 color: rgb(207, 232, 156);
 padding: 15px;
  font-size: 40px;
}

#wspbtn{
  color: rgb(207, 232, 156);
 font-size: 20px;
  margin-left: 50px;
  
}
